@import "tailwindcss";

button{
  cursor: pointer;
}

body{
  background-color: #f3f4f6;
}

@theme {
  --color-custom-orange: #ec6323;
  --color-custom-gray: #f3f4f6;
  --color-custom-red: #ff0000;
  --color-custom-blue: #4b5563;
}